<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Master</title>

    <style>
        body {
            background-color: white;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            align-self: start;
        }

        .image_line {
            display: flex;
        }

        .image_preview {
            margin-right: 16px;
        }

    </style>
</head>
<body>
<h1>Image Master</h1>
{{range .ImageLine}}
    <div class="image_line">
        <img class="image_preview" src="/images/customers/{{.PreviewImagePath}}">
        <img src="/images/customers/{{.OriginalImagePath}}">
    </div>
{{end}}
</body>
</html>