<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>{{.Response}}</h1>
<form action="upload_image" method="post" enctype="multipart/form-data">
    <input type="hidden" value="upload_image" name="form_name">
    <input type="file" name="file">
    <p>
        <button type="submit">Submit</button>
</form>
</body>
</html>